# Ignore exported certs
certs/*.pfx

# PowerShell module files
*.psm1
*.psd1
*.ps1xml

# Test results
TestResults/

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
*.zip
*.tmp
*.bak
*.DS_Store
